doctype html
// Documentative
// (c) 2020 dragonwocky <thedragonring.bod@gmail.com>
// (https://dragonwocky.me/) under the MIT license
html
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= _.title.name
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro|Nunito+Sans')
    link(rel='stylesheet', href=_.depth + 'styles.css')
    script(src=_.depth + 'scrollnav.js')
    link(rel="shortcut icon", href=_.depth + (icon || 'documentative.ico'), type="image/x-icon")
  body
    aside.menu
      div
        .title
          h1= config.title
          span.icon
            img(src=_.depth + (icon || 'documentative.ico'))
      ul.nav
        each entry in nav
          li.entry
            if entry.type === 'link'
              a(href=entry.url)= entry.text
            if entry.type === 'title'
              p= entry.text
            if entry.type === 'page'
              a(href=(entry.output === _.output ? `#${entry.title.hash}` : _.depth + entry.output))= entry.title.name
              if entry.output === _.output && _.headings.length
                ul
                  each heading in _.headings
                    li(class=`level-${heading.level}`)
                      a(href=`#${heading.hash}`)= heading.name
      p.mark
        a(href="https://dragonwocky.me/documentative") docs by documentative
    .wrapper
      .toggle
        button ☰
        h1= config.title
      article.documentative
        .content
          != _.content
        if config.copyright.text
          .copyright
            hr
            p
              a(href=config.copyright.url)= config.copyright.text
        nav
          if nav[_.prev]
            a.prev(href=_.depth + nav[_.prev].output) ᐊ
          if nav[_.next]
            a.next(href=_.depth + nav[_.next].output) ᐅ