doctype html
html
  head
    meta(charset='utf-8')
    title= title.name
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro|Nunito+Sans')
    link(rel='stylesheet', href='styles.css')
    script(src='scrollnav.js')
  body
    aside
      .title
        h1= conf.title
        img(src=conf.icon.name)
      ul
        each page in pages
          li
            if page.type === 'link'
              a(href=page.url)= page.name
            if page.type === 'page'
              a(href=(page.title.name === title.name ? `#${page.title.hash}` : page.url))= page.title.name
              if (page.title.name === title.name && headings.length)
                ul
                  each heading in headings
                    li(class=`depth-${heading.depth}`)
                      a(href=`#${heading.hash}`)= heading.name
      p.mark docs by 
        a(href="https://dragonwocky.me/documentative") documentative
    .documentative
      != content
      nav
        if (index > 0)
          a.prev(href=pages[index - 1].url) <
        if (index < pages.length - 1)
          a.next(href=pages[index + 1].url) >
