
// Documentative
// (c) 2020 dragonwocky <thedragonring.bod@gmail.com>
// (https://dragonwocky.me/) under the MIT License

doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title.name
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro|Nunito+Sans')
    link(rel='stylesheet', href=depth + resources.css)
    script(src=depth + resources.js)
    link(rel="shortcut icon", href=depth + config.icon.name, type="image/x-icon")
  body
    aside.menu
      .block
        .title
          h1= config.title
          span.icon
            img(src=depth + config.icon.name)
      ul.nav
        each entry in nav
          li
            if entry.type === 'link'
              a(href=entry.url)= entry.text
            if entry.type === 'title'
              p= entry.text
            if entry.type === 'page'
              a(href=(entry.title.name === title.name ? `#${entry.title.hash}` : depth + entry.output))= entry.title.name
              if entry.title.name === title.name && headings.length
                ul
                  each heading in headings
                    li(class=`depth-${heading.depth}`)
                      a(href=`#${heading.hash}`)= heading.name
      p.mark
        a(href="https://dragonwocky.me/documentative") docs by documentative
    .wrapper
      .toggle
        button ☰
        h1= config.title
      .documentative
        .content
          != content
        if config.copyright
          .copyright
            hr
            p
              a(href=config.copyright.url)= typeof config.copyright === 'object' ? config.copyright.text : config.copyright
        nav
          if index > 0 && nav[index - 1].type === 'page'
            a.prev(href=depth + nav[index - 1].output) ᐊ
          if index < nav.length - 1 && nav[index + 1].type === 'page'
            a.next(href=depth + nav[index + 1].output) ᐅ

